.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    gap: 20px;
}

.wrapper button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    background: #614101;
    color: white;
}

.accordion{
    width: 500px;
}

.item{
    background-color: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title > h1{
    font-size: 1.5rem;
}

.title > span{
    font-size: 2rem;
}

.item > .content{
    margin-top: 10px;
    color: white;
    height: auto;
}